<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test" parallel="classes">
    <classes>
     <class name="docker_grid.DockerStartStop"/>
      <class name="docker_grid.DockerChromeTest3"/>
      <class name="docker_grid.DockerFirefoxTest1"/>
      <!--  <class name="docker_grid.DockerChromeTest2"/>
      <class name="docker_grid.DockerChromeTest1"/>  -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
